html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fafaf4;
  font: 14px/1.3 Roboto, Arial, sans-serif;
  min-width: 980px;
}

/* Common styles. */
.center-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 957px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.rouble {
  display: inline-block;
  line-height: 1.2;
  overflow: hidden;
  text-indent: -2em;
  vertical-align: middle;
}

.rouble::after {
  content: 'a';
  font-family: "ALS Rubl";
}

.hidden {
  display: none !important;
}

/* Header */
.header {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-bottom: -56px;
  position: relative;
}

.header-logo {
  float: left;
  margin-top: 6px;
}

.header-phone {
  box-sizing: border-box;
  margin-left: 225px;
  line-height: 1;
  padding: 11px 0 12px;
  text-align: right;
}

.header-phone-number {
  font-size: 22px;
}

.header-phone-comment {
  font-size: 11px;
}

/* Big welcome block. */
.welcome {
  background: #5d93a0 url('../img/welcome-overlay.jpg') no-repeat;
  background-size: auto 100%;
  padding: 56px 0 75px;
}

.welcome-title,
.welcome-stats {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(2, 33, 58, 0.46);
  max-width: 800px;
}

.welcome-title {
  font-size: 85px;
  margin: 60px auto 0;
}

.welcome-stats {
  font-size: 35px;
  margin: 0 auto 70px;
}

/* Search form */
.searchform {
  background: rgba(242, 247, 248, 0.85);
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 27px 20px 25px;
  width: 800px;
}

.searchform-group {
  border: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.searchform-label {
  font-size: 12px;
  margin-left: 0.3em;
  margin-top: -1.5em;
  position: absolute;
}

.searchform-field {
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  font: bold 22px/36px Arial, sans-serif;
  padding: 0 10px;
  vertical-align: middle;
}

.searchform-dates-field-from,
.searchform-dates-field-to {
  margin-right: 30px;
  width: 165px;
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  position: absolute;
  margin-left: -1em;
  margin-top: 0.4em;
}

.searchform-dates-field-from::after {
  content: '—';
  display: inline-block;
  margin-left: 0.4em;
  position: absolute;
  text-align: center;
  width: 35px;
}

.searchform-guests-field {
  text-align: center;
  width: 67px;
}

.searchform-guests-field:first-of-type {
  margin-right: 12px;
}

.searchform-submit {
  background: #e53029;
  border: solid 3px #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(108, 42, 42, 0.32),
              inset 0 0 2px rgba(0, 0, 0, 0.58);
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font: bold 24px/48px Roboto, Arial, sans-serif;
  height: 56px;
  margin: -8px 0 -8px 30px;
  padding: 0 12px;
  vertical-align: middle;
  white-space: nowrap;
}

/* Map preview */
.map {}

.map-hidden {
  box-shadow: inset 0 8px 15px rgba(0, 26, 46, 0.36);
  height: 68px;
  position: relative;
}

.map-switch {
  background: #e33e3e url('../img/map-switch.png') 50% 40% no-repeat;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 2px 1px rgba(73, 1, 1, 0.4);
  cursor: pointer;
  height: 44px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

/* Results list. */
.hotels {
  padding-top: 25px;
}

.hotels-title,
.hotels-filters,
.hotels-list {
  clear: both;
  padding: 10px 0;
}

.hotels-title {
  margin-top: 0;
}

.hotels-title-count {
  font-size: 28px;
  font-weight: bold;
}

.hotels-title-dates {
  font-size: 18px;
}

.hotels-filters {
  clear: both;
  color: #333;
  float: left;
  font: 16px Roboto, Arial, sans-serif;
  position: relative;
  white-space: nowrap;
}

.hotel-filter {
  border: solid 1px #b3b3ac;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: 34px;
  margin-right: 5px;
  padding: 0 10px;
}

.hotel-filter-active {
  border-color: #999;
  box-shadow: 0 0 3px #999, inset 0 0 3px #999;
}

.hotel-filter-reset {
  border: 0;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  left: 100%;
  top: -2em;
}

.hotel-filter-reset.hotel-filter-active {
  display: none;
}

.hotel-filter-reset::after {
  border: solid 1px #b3b3ac;
  border-radius: 2px;
  content: '×';
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin-left: 5px;
  padding: 0;
  text-align: center;
  text-indent: -1px;
  vertical-align: middle;
  width: 22px;
}

.hotels-list {
  font-size: 0;
  margin-right: -10px;
}

.hotels-list-empty {
  font-size: 14px;
  text-align: center;
}

.hotels-list-empty h3 {
  margin-bottom: 0.2em;
}

.hotels-list-empty p {
  margin-top: 0.5em;
}

/* Singular result */
.hotel {
  background-color: #e8e5dc;
  background-image: url('../img/hotel-default.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 230px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 312px;
}

.hotel-nophoto {
  background-image: none;
}

.hotel-nophoto::before {
  bottom: 0;
  color: #aaa8a1;
  content: 'У этого отеля пока нет фото';
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  left: 0;
  line-height: 1.1;
  padding: 88px 60px 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.hotel-name {
  background: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 14px 55px 20px 10px;
}

.hotel-stars {
  background: url('../img/star-icon.png') repeat-x;
  height: 9px;
  margin-left: 8px;
  margin-top: 4px;
  min-width: 11px;
  position: absolute;
  z-index: 1;
}

.hotel-stars-two {
  width: 22px;
}

.hotel-stars-three {
  width: 33px;
}

.hotel-stars-four {
  width: 44px;
}

.hotel-stars-five {
  width: 55px;
}

.hotel-distance {
  font-size: 11px;
  margin-left: 10px;
  margin-top: -1.8em;
  position: absolute;
}

.hotel-rating {
  background: #a9a9a9;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  font: bold 24px/32px Roboto, Arial, sans-serif;
  right: 42px;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 48px;
}

.hotel-rating-four {
  background: #9f9fb0;
}

.hotel-rating-five {
  background: #5b9ddb;
}

.hotel-rating-six {
  background: #21aec3;
}

.hotel-rating-seven {
  background: #21c38c;
}

.hotel-rating-eight {
  background: #78bc03;
}

.hotel-rating-nine {
  background: #eb8c05;
}

.hotel-rating-none {
  box-sizing: border-box;
  font-size: 10px;
  height: 32px;
  line-height: 1.2;
  padding-top: 5px;
  text-transform: uppercase;
}

.hotel-favourite {
  background: url('../img/heart-sprite.png') no-repeat 0 0;
  cursor: pointer;
  height: 19px;
  position: absolute;
  right: 10px;
  top: 18px;
  width: 22px;
}

.hotel-favourite-liked {
  background-position-x: -22px;
}

.hotel-amenities {
  bottom: 15px;
  left: 10px;
  list-style: none;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
}

.hotel-amenity {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  display: inline-block;
  height: 30px;
  margin: 0 5px 0 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -100em;
  width: 30px;
}

.hotel-amenity::after {
  background: url('../img/amenities-sprite.png') no-repeat;
  content: '';
  height: 23px;
  left: 3px;
  overflow: hidden;
  position: absolute;
  top: 3px;
  width: 23px;
}

.hotel-amenity-breakfast::after {
  background-position: 0 0;
}

.hotel-amenity-parking::after {
  background-position: -23px 0;
}

.hotel-amenity-wifi::after {
  background-position: -46px 0;
}

.hotel-price {
  background: #f2f2f2;
  bottom: 9px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
  color: #f23b3b;
  font: bold 28px/40px Roboto, Arial, sans-serif;
  padding: 0 10px;
  position: absolute;
  right: 9px;
  text-decoration: none;
}

footer {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  padding: 18px 0;
}

footer .center-wrapper {
  position: relative;
}

.footer-logo {
  color: #363636;
  font-size: 12px;
  margin-right: 200px;
  position: relative;
  padding-top: 35px;
}

.footer-logo a {
  color: #363636;
}

.footer-logo a:hover {
  color: #999;
}

.footer-logo-image {
  left:0;
  position: absolute;
  top: -5px;
}

.footer-social {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 200px;
}

.footer-social-item {
  background: url('../img/social-sprite.gif') no-repeat;
  display: inline-block;
  font-size: 0;
  height: 26px;
  list-style: none;
  margin-left: 10px;
  overflow: hidden;
  text-indent: -1999em;
  vertical-align: top;
  width: 26px;
}

.footer-social-item-twitter {}
.footer-social-item-twitter:hover {
  background-position: 0 -26px;
}

.footer-social-item-instagram {
  background-position: -26px 0;
}

.footer-social-item-instagram:hover {
  background-position: -26px -26px;
}

.footer-social-item-facebook {
  background-position: -52px 0;
}

.footer-social-item-facebook:hover {
  background-position: -52px -26px;
}

.footer-social-item-vk {
  background-position: -78px 0;
}

.footer-social-item-vk:hover {
  background-position: -78px -26px;
}

.overlays {
  position: absolute;
  z-index: 2;
}

.gallery {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.gallery-close {
  color: #fff;
  cursor: pointer;
  font-size: 3em;
  position: absolute;
  right: 0.5ex;
  top: 0;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.gallery-picture {
  height: 400px;
  margin: 20px auto;
}

.gallery-thumbnails-container {
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  max-width: 90%;
  position: relative;
}

.gallery-thumbnails {
  overflow: auto;
  padding: 10px;
  white-space: nowrap;
}

.gallery-thumbnails-image {
  cursor: pointer;
  height: 70px;
  margin-right: 10px;
}

.gallery-thumbnails-image.active {
  outline: solid 5px #fff;
  cursor: default;
}

.gallery-thumbnails-control {
  background: url('../img/control-sprite.png');
  cursor: pointer;
  height: 40px;
  margin-top: -20px;
  opacity: 0.3;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 40px;
}

.gallery-thumbnails-control:hover,
.gallery-thumbnails-control:active {
  opacity: 1;
}

.gallery-thumbnails-control-prev {
  left: -60px;
}

.gallery-thumbnails-control-next {
  background-position: -40px 0;
  left: 100%;
  margin-left: 10px;
}
